@font-face {
  font-family: 'Rubik', sans-serif;
  src: url('./fonts/Rubik-VariableFont_wght.ttf');
}

.html {
  font-family: 'Rubik', sans-serif;
  background-color: #000;
  color: #fff;
}

.body {
  margin: 0;
  padding: 0;
}

.header,
.content,
.footer {
  position: relative;
  max-width: 50rem;
  margin: 0 auto;
}

.header {
  margin-top: 10px;
}

.logo {
  background-image: url('./img/kitsunedevelop.svg');
  height: 60px;
  width: 60px;
}

.h1, .h2, .h3 {
  margin: 0;
  padding: 0;
}

.h1::-moz-selection, .h2::-moz-selection, .h3::-moz-selection {
  color: orange;
}

.h1::selection, .h2::selection, .h3::selection {
  color: orange;
}

.circle-gradient {
  position: absolute;
  top: -250px;
  left: -100px;
  background-image: radial-gradient(circle, orange, #000, #000);
  width: 500px;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
}

.logo_place_header {
  position: absolute;
  top: 4px;
  left: 0;
}

.h1_place_header {
  position: relative;
  left: 100px;
  font-size: 80px;
  font-weight: 600;
  line-height: .85;
  width: 450px;
}
