@font-face {
  font-family: 'Rubik', sans-serif;
  src: url('./fonts/Rubik-VariableFont_wght.ttf');
}

@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fluctuation {
  0% {
    margin-top: 0px;
  }
  50% {
    margin-top: 10px;
  }
  100% {
    margin-top: 0px;
  }
}

:root {
  --green: #76ff5f;
}

.html {
  font-family: 'Roboto', sans-serif;
  background-color: black;
}

.body {
  margin: 0;
}

.rotation {
  animation-name: rotation;
  animation-duration: 25s;
  animation-direction: reverse;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.fluctuation {
  animation-name: fluctuation;
  animation-duration: 2s;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.overflow {
  overflow: hidden;
  position: absolute;
  height: 370px;
  width: 600px;
}

/* Header */

.header {
  display: flex;
  justify-content: center;
  min-height: 500px;
  margin: 0;
  background-color: black;
}

.header__content {
  position: relative;
  max-width: 50%;
  margin-top: 10px;
}

.header__logo {
  width: 30px;
  height: 30px;
  background: url(../img/logo.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.header__text {
  font-size: 21px;
  line-height: 28px;
  color: white;
  margin: 10px 0 0;
  z-index: 10px;
}

.header__text::selection {
  color: var(--green);
}

.header__text_decoration_line-through {
  text-decoration: line-through;
  text-decoration-color: var(--green);
}

.header__text_decoration_line-through::selection {
  color: var(--green);
  text-decoration-color: white;
}

.header__dzen {
  position: absolute;
  left: -50px;
  bottom: 70px;
  width: 300px;
  height: 300px;
  box-sizing: border-box;
}

.dzen__man {
  position: absolute;
  width: 300px;
  height: 300px;
  background-image: url(../img/dzen-man.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  top: 90px;
  left: 140px;
}

.dzen__leters {
  position: absolute;
  height: 600px;
  width: 600px;
  background-image: url(../img/dzen-leters.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: visible;
}

/* Content */
.content {
  background-color: white;
  height: 100vh;
  z-index: 2;
}